/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Main CSS Tags */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header, footer {
    z-index: 10;
}

main {
    z-index: 5;
}

  /* Headings  */
.heading-font {
    font-family: 'Cinzel Decorative', cursive;
}

/* Nav Bar */
.transparent-banner{
    background-color: rgba(0, 0, 0, 0.7);
}

nav .brand-logo {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 3em;
}

.sub-heading em {
    font-size: 1em;
    padding-right: 10px;
}

/* https://stackoverflow.com/questions/35552708/is-materialize-navbar-height-adjustment-possible */
nav {
    height: 75px;
    line-height: 75px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 75px;
    line-height: 75px;
}

nav .button-collapse i {
    height: 75px;
    line-height: 75px;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 75px;
        line-height: 75px;
    }
}

/* Index */

.card-panel {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
}

/* https://css-tricks.com/perfect-full-page-background-image/ */
#staticMap { 
  background: url(../img/map-backdrop.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* https://stackoverflow.com/questions/28870932/how-to-remove-white-border-from-blur-background-image */
#staticMap::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(1px); /* apply the blur */
  backdrop-filter: blur(1px);         /* apply the blur */
  pointer-events: none; /* make the pseudo class click-through */
}

/* https://stackoverflow.com/questions/31854696/horizontal-and-vertical-alignment-in-materialize-framework */
.valign-wrapper {
    width:100%;
    height:70%;
    position: absolute;
}

/* https://stackoverflow.com/questions/10209704/set-google-maps-container-div-width-and-height-100 */
/* Maps */
  #map, #staticMap {
    position: absolute; 
    top: 0; 
    right: 0;
    bottom: 0; 
    left: 0;
    z-index:-1;
    
  }

/* Footer */
.page-footer {
    padding-top:5px;
    padding-bottom:5px;
}