/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/********** Main CSS Tags **********/

/* https://chanind.github.io/javascript/2019/09/28/avoid-100vh-on-mobile-web.html */

html {
  height: 100%;
  min-height: -webkit-fill-available;
}

body {
    font-family: 'Roboto', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    min-height: -webkit-fill-available;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}

header {
    z-index: 20;
} 
footer {
    z-index: 10;
}
main {
    z-index: 5;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/********** Headings **********/

.heading-font {
    font-family: 'Cinzel Decorative', cursive;
}


/********** Nav Bar **********/

.transparent-banner{
    background-color: rgba(0, 0, 0, 0.7);
}

nav .brand-logo {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 3em;
}

.sub-heading em {
    font-size: 1em;
    padding-right: 10px;
}

nav ul li.active {
    background-color: rgba(255, 255, 255, 0.1);
}

nav ul li:hover {
   background-color: rgba(255, 255, 255, 0.1);

}

/* https://stackoverflow.com/questions/35552708/is-materialize-navbar-height-adjustment-possible */
nav {
    height: 75px;
    line-height: 75px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 75px;
    line-height: 75px;
}

nav .button-collapse i {
    height: 75px;
    line-height: 75px;
}

nav i.material-icons.help-trigger {
    vertical-align: middle;
    margin-right: 20px;
    font-size:30px;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 75px;
        line-height: 75px;
    }
}

/********** Side Nav **********/

.sidenav {
    /* https://cssgradient.io/ */
    background: -o-linear-gradient(331.2deg, rgba(4,23,37,1) 0%, rgba(4,23,37,1) 20%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 100%);
    background: linear-gradient(0.33turn, rgba(4,23,37,1) 0%, rgba(4,23,37,1) 20%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 100%); 
    width: 200px;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: calc(100% - 15px);
    top:75px;
}

.sidenav-header {
    padding-top: 15px;
    height: 75px;
    background-color: #010204;
    color: white;
    border-right: none;
}

.sidenav li.active {
    background: radial-gradient(circle at 21%, rgba(2,7,11,1) 0%, rgba(2,7,11,1) 21%, rgba(2,7,11,0) 100%);
}

.sidenav a, .sidenav li a {
    color: white;
    text-decoration: none;
}

.sidenav li.active a {
     color: white;
}

.sidenav li a:focus, .sidenav li:focus, .sidenav:focus  {
    outline: none;
} 

/********** Toasts **********/

#toast-container {
    z-index: 10000;
    top: 65px;
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    max-width: 86%;
    height: 10%;
}

.styled-toast {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 25px;;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
    0 1px 7px 0 rgba(0, 0, 0, 0.12), 
    0 3px 1px -1px rgba(0, 0, 0, 0.2);;
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
    0 1px 7px 0 rgba(0, 0, 0, 0.12), 
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

#toast-container .toast-action {
    color: white;
}

@media only screen and (min-width: 993px) {
    #toast-container {
    top: 65px;
    margin: auto;
    
    }
}

/********** Tooltip **********/

.material-tooltip {
    background-color: transparent;
    color: white;
    text-decoration: underline;
}

/********** Log in Modal **********/

.modal {
    border-radius:25px;
}

.modal .modal-content {
    padding-bottom: 0;
}

.footer-modal {
    margin-bottom: 0;
    padding-left: 10px;
}

.error-message{
    padding-bottom: 10px;
    color: red;
    font-weight: 500;
}

/* Inactive/Active Default input field color */
.login-field input[type]:not([readonly]),
.login-field input[type]:focus:not([readonly]),
.login-field input:not([readonly]),
.login-field input:focus:not([readonly]) {
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0 1px 0 0 black;
            box-shadow: 0 1px 0 0 black;
}

/* Inactive/Active Default input label color */
.login-field input[type]:focus:not([readonly])+label,
.login-field input:focus:not([readonly])+label {
    color: black;
}

/* Active/Inactive Invalid input field colors */
.input-field.login-field input[type].invalid,
.input-field.login-field input[type].invalid:focus,
.input-field.login-field input.invalid,
.input-field.login-field input.invalid:focus {
    border-bottom: 1px solid red;
    -webkit-box-shadow: 0 1px 0 0 red;
            box-shadow: 0 1px 0 0 red;
}

/* Active/Inactive Invalid input label color */
.input-field.login-field input[type].invalid:focus+label,
.input-field.login-field input[type].invalid~.helper-text::after,
.input-field.login-field input[type].invalid:focus~.helper-text::after, 
.input-field.login-field input.invalid:focus+label,
.input-field.login-field input.invalid~.helper-text::after,
.input-field.login-field input.invalid:focus~.helper-text::after {
    color: red;
}

/* Active/Inactive Valid input field color */
.input-field.login-field input[type].valid,
.input-field.login-field input[type].valid:focus,
.input-field.login-field input.valid,
.input-field.login-field input.valid:focus {
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0 1px 0 0 black;
            box-shadow: 0 1px 0 0 black;
}

/* Active/Inactive Valid input label color */
.input-field.login-field input.valid:focus+label,
.input-field.login-field input.valid~.helper-text::after,
.input-field.login-field input.valid:focus~.helper-text::after {
    color: black;
}

 .login-field.input-field .prefix.active {
     color: #000;
   }

.btn.login-button {
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 25px;
}

.btn.login-button:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
    -webkit-box-shadow: 0 3px 3px 0 rgba(255, 255, 255, 0.14),
    0 1px 7px 0 rgba(255, 255, 255, 0.12), 
    0 3px 1px -1px rgba(255, 255, 255, 0.2);
            box-shadow: 0 3px 3px 0 rgba(255, 255, 255, 0.14),
    0 1px 7px 0 rgba(255, 255, 255, 0.12), 
    0 3px 1px -1px rgba(255, 255, 255, 0.2);
}


/********** Index Page **********/

.card-panel {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
}

.flex-nowrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

/* https://css-tricks.com/perfect-full-page-background-image/ */
#staticMap { 
  background: url(../img/map-backdrop.jpg) no-repeat center center fixed;
  background-size: cover;
}

.text-underline {
    text-decoration: underline;
}

.welcome, .error {  
    margin: auto;
}

/********** My Voice **********/
.my-voice {  
    margin: auto;
    width: 100%;
}

.collection {
    background-color: rgba(0,0,0,0);
    border: none;
}

.collection .collection-item {
    background-color: rgba(0,0,0,0);
    border-radius: 25px;
    border: 1px solid white; 
}

.collection .collection-item i {
    color: white;
}

.collection .collection-item:last-child {
    border-bottom: 1px solid white; ;
}

.wyspa-button {
    background-color: rgba(0,0,0,0);
    border: none;
}

.wyspa-button i {
    cursor:pointer;
}

.wyspa-button:active, .wyspa-button:focus {
background-color: rgba(0,0,0,0);
}

.wyspa-button.comment-delete {
    color: white;
    height: 100%;
}

.keyboard-focused .collapsible-header:focus {
    background-color: rgba(0, 0, 0, 0.7);
    outline: -webkit-focus-ring-color auto 1px;
 }     

.user-message {
    padding-bottom: 10px;
}

.message-control span {
    vertical-align: top;
}

input#mood{
    margin-bottom: 0;
    margin-top: 22px;
}

/* https://stackoverflow.com/questions/40534973/changing-the-color-of-the-range-slider-in-materializecss */
input[type=range]::-webkit-slider-thumb {
    background-color: white;
}

input[type=range]::-moz-range-thumb {
    background-color: white;
}

input[type=range]::-ms-thumb {
    background-color: white;
} 

input[type=range] + .thumb {
    display:none;
}

input[type=range] + .thumb.active .value {
    display: none;
}

input[type=range]+.thumb .value {
    display: none;
}

/* https://github.com/Dogfalo/materialize/blob/824e78248b3de81e383445e76ffb04cc3264fe7d/sass/components/forms/_range.scss#L97 */
.keyboard-focused input[type=range]:focus:not(.active)::-webkit-slider-thumb {
  box-shadow: 0 0 0 10px rgba(255,255,255, 0.26);
}

input[type=range] {
    border: none;
}

.negativeLabel{
    color: #FF0000;
}

.neutralLabel {
    color: #FFFFFF;
}

.positiveLabel{
    color: #0FE000;
}

/* Datepicker */

.datepicker-date-display { 
    background-color: black;
}

.modal.datepicker-modal, .modal.timepicker-modal { 
    border: 2px solid white;
}

.datepicker-day-button {
    font-weight: 400;
}

.input-field.message-field.date-field input {
    color:white;
} 

.datepicker-table {
    color: black;
}

.datepicker-table .is-today .datepicker-day-button {
    color: black;
    font-weight: 700;
}

.datepicker-table .is-selected .datepicker-day-button {
    color: white;
    font-weight: 500;

}

.datepicker-table .datepicker-day-button:focus{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.datepicker-table td.is-selected{
    background-color: #000;
}

.datepicker-controls, .input-field.message-field.date-field input.select-dropdown {
    color: black;
}

button.month-next:focus, button.month-prev:focus {
    background-color: white;
}

.datepicker-cancel, .datepicker-done, .timepicker-close {
    color: black;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: black;
}

.timepicker-digital-display { 
    background-color: black;
}

.modal.timerpicker-container { 
    border: 2px solid white;
}

.timepicker-canvas line {
    stroke: white;
}

.timepicker-canvas-bg {
    fill: white;
}

.timepicker-canvas-bearing {
    fill: white;
}

.timepicker-plate {
    background-color: rgba(4,23,37,0.4);
}

.timepicker-tick:hover {
    background-color: rgba(0,0,0,0.3);
}

/* https://stackoverflow.com/questions/42101723/unable-to-preventdefault-inside-passive-event-listener */
.timepicker-dial {
-ms-touch-action: none;
    touch-action: none;
}

/********** Messages **********/
.message {  
    margin: auto;
    width: 100%;
}

.row.no-margin{
    margin: 0;
}

.row.outer-wyspa-panel {
    margin-bottom: 0px;
}

.card-panel.inner-wyspa-panel {
    padding-bottom: 10px;
}

.empty-messages {
    padding-bottom: 24px;
}
.empty-messages h3 {
    margin-top: 10px;
}

.speech-bubble.empty-comments {
    padding-top:5px;
    padding-bottom: 5px;
    font-weight: 400;
}

/* https://codingislove.com/css-speech-bubbles/ */
.speech-bubble {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px 0 20px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  position:relative;
  border-radius: 25px;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.left-arrow:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.7);
  border-top: 10px solid rgba(0, 0, 0, 0.7);
  border-bottom: 10px solid transparent;
  left: 19px;
  bottom: -19px;
}

.right-arrow:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid rgba(0, 0, 0, 0.7);
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.7);
  border-bottom: 10px solid transparent;
  right: 19px;
  bottom: -19px;
}

.collapsible-body {
    border-style: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding:0;
}
.collapsible {
    border-style: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.collapsible-header {
        border-style: none;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    
}

.comment-box {
    display: table;
    width: 100%;   
}

.comment-text {
    padding-bottom: 10px;
}

textarea.materialize-textarea {
    color: white; 
}

.submit-col {
    width:100%;
}

/* Overriding Textinput CSS without using Important */
/* https://stackoverflow.com/questions/37127123/change-color-of-underline-input-and-label-in-materialize-css-framework */


/* Inactive/Active Default input field color */
.message-field.input-field input[type],
.message-field.input-field input[type]:focus,
.message-field.input-field input,
.message-field.input-field input:focus,
.message-field.input-field textarea,
.message-field.input-field textarea:focus {
    border-bottom: 1px solid white;
    -webkit-box-shadow: 0 1px 0 0 white;
            box-shadow: 0 1px 0 0 white;
}

/* Inactive/Active Default input label color */
.message-field.input-field input[type]:focus:not([readonly])+label,
.message-field.input-field input:focus:not([readonly])+label,
.message-field.input-field textarea:focus:not([readonly])+label {
    color: white;
}

/* Active/Inactive Invalid input field colors */
.message-field.input-field input[type].invalid,
.message-field.input-field input[type].invalid:focus,
.message-field.input-field input.invalid,
.message-field.input-field input.invalid:focus,
.message-field.input-field textarea.invalid,
.message-field.input-field textarea.invalid:focus {
    border-bottom: 1px solid white;
    -webkit-box-shadow: 0 1px 0 0 white;
            box-shadow: 0 1px 0 0 white;
}

/* Active/Inactive Invalid input label color */
.message-field.input-field input[type].invalid:focus+label,
.message-field.input-field input[type].invalid~.helper-text::after,
.message-field.input-field input[type].invalid:focus~.helper-text::after, 
.message-field.input-field input.invalid:focus+label,
.message-field.input-field input.invalid~.helper-text::after,
.message-field.input-field input.invalid:focus~.helper-text::after,
.message-field.input-field textarea.invalid:focus+label,
.message-field.input-field textarea.invalid~.helper-text::after,
.message-field.input-field textarea.invalid:focus~.helper-text::after {
    color: white;
}

/* Active/Inactive Valid input field color */
.message-field.input-field input[type].valid,
.message-field.input-field input[type].valid:focus,
.message-field.input-field input.valid,
.message-field.input-field input.valid:focus, 
.message-field.input-field textarea.valid,
.message-field.input-field textarea.valid:focus {
    border-bottom: 1px solid white;
    -webkit-box-shadow: 0 1px 0 0 white;
            box-shadow: 0 1px 0 0 white;
}

/* Active/Inactive Valid input label color */
.message-field.input-field input[type].valid:focus+label,
.message-field.input-field input[type].valid~.helper-text::after,
.message-field.input-field input[type].valid:focus~.helper-text::after,
.message-field.input-field input.valid:focus+label,
.message-field.input-field input.valid~.helper-text::after,
.message-field.input-field input.valid:focus~.helper-text::after,
.message-field.input-field textarea.valid:focus+label,
.message-field.input-field textarea.valid~.helper-text::after,
.message-field.input-field textarea.valid:focus~.helper-text::after {
    color: white;
}

.message-field.input-field input {
    color: white;
}

.row .col.wyspa-count { 
    padding-top:10px;
}

.row .col.wyspa-count span {
    vertical-align: top;
}

.btn.add-comment {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 25px;
    margin-bottom: 15px;
}

.btn.add-comment:hover, .btn.add-comment:focus {
    background-color: white;
    color: black;
}

/********** Maps **********/

/* https://stackoverflow.com/questions/10209704/set-google-maps-container-div-width-and-height-100 */
  #map{
    position: absolute; 
    top: 0; 
    right: 0;
    bottom: 0; 
    left: 0;
    z-index:-1;
  }

/* https://stackoverflow.com/questions/2553904/removing-the-google-maps-api-premier-terms-of-use-logo-etc-links */
/* Styling has been applied inline via js package - Exception applied for applying !important tag */
 /* Terms of Use/Maps Data */
.gmnoprint div {
    bottom:33px;
}

/* Zoom Control */
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
    bottom:130px !important;
    right:32px !important;
}

/* Google Image */
#map div div a div img{
    bottom: 33px;
    top: -33px !important;
}

/********** Footer **********/
.page-footer {
    padding-top:5px;
    padding-bottom:5px;
}

.footer-content a, .footer-content a:hover {
    color: white;
    text-decoration: underline;
}

/********** Media Queries **********/

@media only screen and (max-width: 601px){
    h2 {
        font-size: 2.5rem;
    }

    .card-panel{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .welcome .card-panel {
        margin-top: 2em;
    }

    .collapsible-header.card-panel {
        margin-bottom: 17px;
    }

    .valign-wrapper-extension {
        position: relative;
    }

    .modal .modal-content {
        padding-left: 0px;
        padding-right: 10px;
    }

    #helpModal.modal .modal-content{
        padding: 20px;
    } 

    .error-message{
        padding-bottom: 5px;
        padding-left: 10px;
    }

    .modal-content.datepicker-container, .modal-content.timepicker-container{
        padding-right:0;
    }
}
