{% extends "base.html" %} {% block content %}

<!-- 404 Splash -->
<section class="error">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <!-- Card Panel -->
        <div class="card-panel z-depth-5">
          <!-- Card Header -->
          <h2 class="white-text center">Oops!</h2>
          <!-- Card Content -->
          <div class="card-content">
            <div class="row">
              <div class="col s12 center white-text">
                It looks like something hasn't quite gone to plan! Please return
                to the <a href="{{ url_for('core.index') }}">Home</a> page, and
                try again!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %} {% block helpmodal %}
<!-- Help Modal for Homepage -->
<h4 class="center">This is embarrassing!</h4>

<p>
  Unfortunately, the hamster wheel appears to have come off it's hinges. Please
  try again.
</p>

<p>
  If this keeps happening, please contact the developer by clicking on the link
  in the footer!
</p>

{%endblock%}
