<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Google Icon Font Import -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Materialize CSS Import -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- local css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css', _scheme='https', _external=True) }}"
        type="text/css">

    <!-- Add Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico', _scheme='https', _external=True) }}">

    <title>WYSPA</title>
</head>

{% if GMAPS_API %}

<body>

    {%else%}

    <body id="staticMap">
        {%endif%}

        <!-- Primary Header -->
        <header>
            <nav class="transparent-banner">
                <div class="nav-wrapper">
                    <a href="{{ url_for('core.index') }}" class="brand-logo center heading-font">WYSPA</a>
                    <a href="#" data-target="mobile-sidenav" class="sidenav-trigger"><i
                            class="material-icons">gps_fixed</i></a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li {% if active_page == "index" %} class="active" {% endif %}><a
                                href="{{ url_for('core.index') }}">Home</a></li>
                        <li {% if active_page == "view_message" %} class="active" {% endif %}><a
                                href="{{ url_for('messages.view_message') }}">Messages</a></li>
                        <li {% if active_page == "map_overview" %} class="active" {% endif %}><a
                                href="{{ url_for('maps.map_overview') }}">Map</a></li>
                        <li {% if active_page == "login" %} class="active" {% endif %}><a href="#">Login</a></li>
                    </ul>
                    <span class="right hide-on-med-and-down sub-heading"><em>Whisper Your Secrets, Publicly and
                            Anonymously</em></span>
                </div>
            </nav>
        </header>

        <!-- Sidenav Header -->
        <section>
            <ul class="sidenav" id="mobile-sidenav">
                <span class="right hide-on-med-and-down sub-heading"><em>Whisper Your Secrets, Publicly and
                        Anonymously</em></span>
                <li {% if active_page == "index" %} class="active" {% endif %}><a
                        href="{{ url_for('core.index') }}">Home</a></li>
                <li {% if active_page == "view_message" %} class="active" {% endif %}><a
                        href="{{ url_for('messages.view_message') }}">Messages</a></li>
                <li {% if active_page == "map_overview" %} class="active" {% endif %}><a
                        href="{{ url_for('maps.map_overview') }}">Map</a></li>
                <li {% if active_page == "login" %} class="active" {% endif %}><a href="#">Login</a></li>
            </ul>

        </section>

        <!-- Main Block Content -->
        <main>
            {% block content %}
            {%endblock%}
        </main>

        <!-- Footer -->
        <footer class="page-footer transparent-banner">
            <div class="container">
                © 2021 BAK2K3
                <a class="grey-text text-lighten-4 right" href="#!">GitHub</a>
            </div>
        </footer>

        <!-- Materialize JS Import -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!-- Javascript Initialisation Import -->
        <script src="{{ url_for('static', filename='/js/init.js', _scheme='https', _external=True) }}"> </script>

        {% block scripts %}
        {% endblock %}

    </body>

</html>