{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}
<!-- Welcome Splash -->
<section class="welcome">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <!-- Card Panel -->
                <div class="card-panel z-depth-5">
                    <!-- Card Header -->
                    <span class="white-text">
                        <h2 class="center">Penny for your thoughts?</h2>
                    </span>
                    <!-- Card Content -->
                    <div class="card-content">
                        <div class="row">
                            <!-- Express Yourself -->
                            <div class="col s12 m4 center">
                                <p class="lead white-text text-underline"><strong>Express Yourself</strong></p>
                                <div class="row valign-wrapper flex-nowrap">
                                    <div class="col s6 m12 center">
                                        <i class="material-icons large white-text">record_voice_over</i>
                                    </div>
                                    <div class="col s6 m12 center">
                                        <p class="white-text">Speak your mind, flag your location,
                                            set your mood, and
                                            let the
                                            world hear your wyspa.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Support Others -->
                            <div class="col s12 m4 center">
                                <p class="s6 m12 lead white-text text-underline"><strong>Support Others</strong>
                                </p>
                                <div class="row valign-wrapper flex-nowrap">
                                    <div class="col s6 push-s6 m12 center">
                                        <i class="material-icons large white-text">connect_without_contact</i>
                                    </div>
                                    <div class="col s6 pull-s6 m12 center card-content-left">
                                        <p class="white-text">Anonymously engage with wyspas, whether that's giving
                                            support or just ackowledging you've listened.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Listen Globally -->
                                <div class="col s12 m4 center">
                                    <p class="lead white-text text-underline"><strong>Listen Globally</strong></p>
                                    <div class="row valign-wrapper flex-nowrap">
                                        <div class="col s6 m12 center">
                                            <i class="material-icons large white-text">travel_explore</i>
                                        </div>
                                        <div class="col s6 m12 center">
                                            <p class="white-text">See a live map of the wyspas heard
                                                across the world, and
                                                interact
                                                with each of them individually.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block helpmodal %}
<!-- Help Modal for Homepage -->
<div id="helpModal" class="modal">
    <div class="row">
        <div class="modal-content">
            <h4 class="center">WYSPA</h4>

            <p><strong>Wyspa Your Secrets, Publicly and Anonymously</strong></p>

            <p>WYSPA has been designed to make every voice count. At a time when the world has been confined to their
                homes,
                it's important we continue to express ourselves and for everyone to be heard equally.</p>

            <p>WYSPA allows you to <em>"Wyspa"</em> a message out into the world, completely anonymously.
                Feeling down? Want to get something off your chest? Or do you feel particularly happy, or proud of
                yourself at the minute?
                Then <strong>express yourself</strong>.</p>

            <p>Want to listen to other people's Wyspas? Visit the <em>messages</em> tab to select a random Wyspa. This
                platform works best when we acknowledge we've listened to each other. When you visit a WYSPA, you can
                click the <em>listen</em>
                icon to aknowledge you've listened; this in turn makes the Wyspa more visible on the map (kind of like
                chinese whispers).
                Fancy picking someone up? Supporting someone? Or just want to engage with a random stranger in the
                world? Then feel free to add a comment to a Wyspa.</p>

            <p>While you can view Wyspas and comment on them without making an account, you have to log in to
                <em>listen</em> and to submit your <em>own</em> Wyspa.</p>

            <p>Each page has its own help section. If you ever need any more information, just click the help icon
                again!</p>

        </div>

        <div class="row footer-modal center">
            <button class="btn login-button modal-close waves-effect waves-light" type="button">Close<i
                    class="material-icons right">cancel</i></button>
        </div>
    </div>
</div>
{% endblock %}