{% extends "base.html" %}
{% set active_page = "map_overview" %}

{% block content %}
<!-- Interactive Map -->
<div id="map"></div>
{% endblock %}


{% block scripts %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key={{GMAPS_API}}&map_ids=65f95462d95daa3&&libraries=&v=weekly"></script>
<script src="{{ url_for('static', filename='js/maps.js') }}"> </script>
<script>initMap({{ map_data| tojson | safe}})</script>

{% endblock %}

{% block helpmodal %}
<!-- Help Modal for Maps -->
<h4 class="center">Map</h4>

<p><strong>Visualise Wyspas from around the world</strong></p>

<p>Each Wyspa has it's geolocation scrambled before being projected onto the world map, and given a user can
    choose how precisely to record their location, there is no way to truly identify who submitted the
    Wyspa,
    or where they are from.
</p>

<p>Each Wyspa is coloured based on the mood set out by the user on submission. The size of the Wyspa is
    calculated based on how many people have acknowledged they've listened to it.</p>

<p>You can interact with any Wyspa, and it will take you directly to the message. From there you can read,
    listen to, and
    comment on it. <strong>Remember</strong> - If you read a Wyspa and you want it to be
    noticed,
    acknowledge you've listened to it so more people are likely to hear it!</p>

{% endblock %}