{% extends "base.html" %}
{% set active_page = "view_message" %}
{% block content %}
<!-- Message -->
<section class="message">
    <div class="container row outer-wyspa-panel">
        <div class="col s12">
            <!-- Card Panel -->
            <div class="card-panel z-depth-5 inner-wyspa-panel">
                <!-- Card Content -->
                <div class="card-content white-text">
                    <div class="row no-margin">
                        <!-- Message Body -->
                        <div class="col s12 center wyspa-container">
                            {% if message_entry %}
                            <em>"{{ message_entry.message }}"</em>
                        </div>
                        <!-- Action Bar -->
                        <div class="col s12 center wyspa-action-bar">
                            <!-- Listen to Wyspa -->
                            <span class="listener-count wyspa-action"> {{ message_entry.listens|length }} </span>
                            <a href="{{url_for('messages.add_listen', message_id=message_entry._id)}}"
                                class="wyspa-action"><i class="material-icons tooltipped wyspa-action-icon"
                                    data-position="bottom" data-tooltip="Listen">hearing</i></a>
                            <!-- Random Wyspa -->
                            <a href="{{ url_for('messages.view_message') }}" class="wyspa-action"><i class="material-icons tooltipped wyspa-action-icon" data-position="bottom" data-margin="1" data-tooltip="Random Wyspa">cached</i></a>
                            <!-- Edit Wyspa -->
                            {%if current_user.username == message_entry.author%}
                            <a href="{{url_for('messages.edit_wyspa', message_id=message_entry._id)}}"
                                class="wyspa-action"><i class="material-icons tooltipped wyspa-action-icon"
                                    data-position="bottom" data-tooltip="Edit">edit</i></a>
                            {%endif%}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Comments  -->
    <div class="container row center">
        <div class="col s12">
            <!-- Collapsable Header -->
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header card-panel center white-text z-depth-5">Comments <i
                            class="material-icons">chat_bubble_outline</i>
                    </div>
                    <!-- Comments  -->
                    <div class="collapsible-body">
                        {% if (message_entry.comments | length == 0) and (not current_user.is_authenticated) %}
                        <div class="col s10 offset-s1 speech-bubble empty-comments z-depth-5">There are no comments on this Wyspa
                            yet! Why
                            not log in
                            and leave your own?</div>
                        {% else %}
                        {# For each comment in the message #}
                        {% for entry in message_entry.comments %}
                        {# https://stackoverflow.com/questions/1567291/get-loop-index-of-outer-loop #}
                        {% set outer_loop = loop %}
                        {# Check the index for speech bubble positioning #}
                        {% if loop.index%2 == 0 %}
                        <!-- Right Comment -->
                        <div class="col s8 offset-s4">
                            <div class="speech-bubble right-arrow z-depth-5">
                                {% else %}
                                <!-- left Comment -->
                                <div class="col s8">
                                    <div class="speech-bubble left-arrow z-depth-5">
                                        {% endif %}
                                        <div class="comment-text">
                                            {# Grab the author and comment for the comment #}
                                            {% for comment_author, comment in entry.items() %}
                                            {{ comment -}}
                                        </div>
                                        {# Check to see whether current user is author for comment deletion#}
                                        {% if current_user.username == comment_author or current_user.username == message_entry.author %}
                                        <!-- Comment Deletion -->
                                        <div class="delete-comment-panel">
                                            <form method="POST"
                                            action="{{url_for('messages.remove_comment', message_id=message_entry._id, comment_id=outer_loop.index)}}" class="confirm-deletion">
                                            <button class="wyspa-button wyspa-action"> <i class="material-icons wyspa-button comment-delete tooltipped"
                                                    data-position="right"
                                                    data-tooltip="Delete Comment">delete_forever</i></button></form>
                                        </div>
                                        {%endif%}
                                    </div>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {# Only add comment box if user is logged in #}
                                {% if current_user.is_authenticated %}
                                {# Find out how long the comments section is to determine which way to place "add comment" Speech bubble #}
                                {% if (message_entry.comments|length%2) == 0 %}
                                <!-- Comment Box -->
                                <div class="col s8">
                                    <div class="speech-bubble comment-box left-arrow z-depth-5">
                                        {% else %}
                                        <div class="col s8 push-s4">
                                            <div class="speech-bubble comment-box right-arrow z-depth-5">
                                                {% endif %}
                                                <!-- Comment Form -->
                                                <form method="POST"
                                                    action="{{url_for('messages.add_comment', message_id=message_entry._id)}}">
                                                    <!-- Textfield -->
                                                    <div class="input-field message-field col s12">
                                                        <textarea id="commentReply" name="commentReply"
                                                            class="materialize-textarea validate" required></textarea>
                                                        <label for="commentReply">Comment:</label>
                                                    </div>
                                                    <!-- Submit Button -->
                                                    <div class="col 12 submit-col">
                                                        <button class="btn add-comment waves-effect" type="submit"
                                                            name="action">Add
                                                            <i class="material-icons right">comment</i>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                </li>
            </ul>
        </div>
    </div>

    {% else %}

    <div class="empty-messages">
        <h2>We can't find any WYSPAs!</h2>
        <em>Consider logging in and getting things started!</em>
    </div>

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    {% endif %}

</section>

{% endblock %}

{% block helpmodal %}
<!-- Help Modal for Messages -->
<h4 class="center">Wyspas</h4>

<p><strong>Listen to or comment on a random Wyspa</strong></p>

<p>Each time you visit this page, a random Wyspa will be presented. Refresh the page, or click the Wyspas link
    again, to be shown a new random Wyspa. If this is your Wyspa, you can also edit it from this page.</p>

<p>To acknowledge you've listened to a Wyspa, interact with the <strong>listen</strong> icon: <i
        class="material-icons">hearing</i>. However, you must be logged in to do this.
    You can listen to your own Wyspa, because if you can't listen to yourself, who can you listen to?
</p>

<p>Each Wyspa can only be listened to once per user. For every listen a Wyspa receives, its marker grows on
    the map. So the more listens a Wyspa receives,
    the more it is heard.</p>

<p>This page doesn't display the mood of the Wyspa. This allows users to listen to and acknowledge each
    other
    with as little context as possible.</p>

<p> Logged in users may comment on a Wyspa. Commenters can delete their own comments, along with the owners of the
    Wyspa. Remember that WYSPA doesn't believe in censorship,
    so it's down to you to respect yourself and each
    other.</p>

{% endblock %}