{% extends "base.html" %}
{% set active_page = "view_message" %}

{% block content %}
<!-- Message -->
<section class="message">
    <div class="container row">
        <div class="col s12">
            <!-- Card Panel -->
            <div class="card-panel z-depth-5">
                <!-- Card Content -->
                <div class="card-content white-text">
                    <div class="row">
                        <div class="col s12 center wyspa-container">
                            <em>"{{ message_entry[0].message }}"</em>
                        </div>
                        <div class="col s12 center action-container">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Comments  -->
    <div class="container row center">
        <div class="col s12">
            <!-- Collapsable Header -->
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header card-panel center white-text">
                        <i class="material-icons">chat_bubble_outline</i>Comments
                    </div>
                    <!-- Comments  -->
                    <div class="collapsible-body">

                        {% for comment in message_entry[0].comments.values() %}

                        {% if loop.index%2 == 0 %}

                        <!-- Right Comment -->
                        <div class="col s8 push-s4">
                            <div class="speech-bubble right-arrow">
                                {{comment}}
                            </div>
                        </div>

                        {% else %}

                        <!-- left Comment -->
                        <div class="col s8">
                            <div class="speech-bubble left-arrow">
                                {{ comment }}
                            </div>
                        </div>

                        {% endif %}

                        {% endfor %}

                        <!-- Comment Box -->

                        {% if (message_entry[0].comments|length%2) == 0 %}
                        <div class="col s8">
                            <form>
                                <div class="speech-bubble comment-box left-arrow">

                                    {% else %}
                                    <div class="col s8 push-s4">
                                        <form>
                                            <div class="speech-bubble comment-box right-arrow">

                                                {% endif %}

                                                <div class="input-field col s12">
                                                    <textarea id="commentReply" class="materialize-textarea"></textarea>
                                                    <label for="commentReply">Comment:</label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                </li>
            </ul>
        </div>
    </div>

</section>

{% endblock %}