{% extends "base.html" %}
{% set active_page = "view_message" %}

{% block content %}
<!-- Message -->
<section class="message">
    <div class="container row">
        <div class="col s12">
            <!-- Card Panel -->
            <div class="card-panel z-depth-5">
                <!-- Card Content -->
                <div class="card-content white-text">
                    <div class="row no-margin">
                        <div class="col s12 center wyspa-container">
                            <em>"{{ message_entry.message }}"</em>
                        </div>
                        <div>
                            {{message_entry.listens|length - 1}}
                            <a href="{{url_for('messages.add_listen', message_id=message_entry._id, listener=current_user.username)}}"
                                class="wyspa-button comment-delete tooltipped" data-position="right"
                                data-tooltip="Acknowledge you've listened"><i class="material-icons">hearing</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Comments  -->
    <div class="container row center">
        <div class="col s12">
            <!-- Collapsable Header -->
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header card-panel center white-text">
                        Comments<i class="material-icons right">chat_bubble_outline</i>
                    </div>
                    <!-- Comments  -->
                    <div class="collapsible-body">

                        {# For each comment in the message #}
                        {% for entry in message_entry.comments %}

                        {# https://stackoverflow.com/questions/1567291/get-loop-index-of-outer-loop #}
                        {% set outer_loop = loop %}

                        {# Check the index for speech bubble positioning #}
                        {% if loop.index%2 == 0 %}

                        <!-- Right Comment -->
                        <div class="col s8 offset-s4">
                            <div class="speech-bubble right-arrow">

                                {% else %}

                                <!-- left Comment -->
                                <div class="col s8">
                                    <div class="speech-bubble left-arrow">

                                        {% endif %}

                                        {# Grab the author and comment for the comment #}
                                        {% for comment_author, comment in entry.items() %}

                                        {{comment}}

                                        {# Check to see whether current user is author for comment deletion#}
                                        {% if current_user.username == comment_author %}

                                        <div>
                                            <a href="{{url_for('messages.remove_comment', message_id=message_entry._id, comment_id=outer_loop.index)}}"
                                                class="wyspa-button comment-delete tooltipped" data-position="right"
                                                data-tooltip="Delete Comment"><i
                                                    class="material-icons">delete_forever</i></a>
                                        </div>
                                        {%endif%}
                                    </div>
                                </div>

                                {% endfor %}

                                {% endfor %}

                                <!-- Comment Box -->

                                {# Find out how long the comments section is to determine which way to place "add comment" Speech bubble #}
                                {% if (message_entry.comments|length%2) == 0 %}
                                <div class="col s8">
                                    <form method="POST"
                                        action="{{url_for('messages.add_comment', message_id=message_entry._id)}}">
                                        <div class="speech-bubble comment-box left-arrow">

                                            {% else %}
                                            <div class="col s8 push-s4">
                                                <form method="POST"
                                                    action="{{url_for('messages.add_comment', message_id=message_entry._id)}}">
                                                    <div class="speech-bubble comment-box right-arrow">

                                                        {% endif %}

                                                        <div class="input-field message-field col s12">
                                                            <textarea id="commentReply" name="commentReply"
                                                                class="materialize-textarea"></textarea>
                                                            <label for="commentReply">Comment:</label>
                                                        </div>
                                                        <div class="col 12 submit-col">
                                                            <button class="btn add-comment waves-effect" type="submit"
                                                                name="action">Add
                                                                <i class="material-icons right">comment</i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                </li>
            </ul>
        </div>
    </div>

</section>

{% endblock %}