{% extends "base.html" %}
{% set active_page = "my_voice" %}

{% block content %}

<section class="my-voice">
    <div class="container row">
        <div class="col s12">
            <!-- Card Panel -->
            <div class="card-panel z-depth-5 white-text center">
                <h2>Your Wyspas</h2>
                <!-- Card Content -->
                <div class="card-content white-text">
                    <div class="row">

                        {% if users_messages %}
                        <ul class="collection">

                            {% for entry in users_messages %}
                            <form method="POST" action="{{url_for('messages.message_control', message_id=entry._id)}}">
                                <li class="collection-item">

                                    <!-- Wyspa content -->
                                    <div class="user-message">
                                        <em>"{{ entry.message }}"</em>
                                    </div>

                                    <!-- Wyspa control -->
                                    <div class="message-control">

                                        <!-- Action for deleting Wyspa -->
                                        <button name="delete" value="delete" class="wyspa-button tooltipped"
                                            data-position="left" data-tooltip="Delete Wyspa"><i
                                                class="material-icons">delete_forever</i></button>

                                        <!-- Listener Count -->
                                        <span> {{ entry.listens|length }} </span>
                                        <i class="material-icons wyspa-button">hearing</i>

                                        <!-- Go to Wyspa -->
                                        <button name="goto" value="goto" class="wyspa-button tooltipped"
                                            data-position="right" data-tooltip="Go To Wyspa"><i
                                                class="material-icons">send</i></button></div>
                                </li>
                            </form>
                            {%endfor%}
                        </ul>

                        {% else %}

                        <div><em>It doesn't look like you've left any WYSPAs yet!</em>
                        </div>

                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

        <div class="col s12">
            <!-- Collapsable WYSPA -->
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header card-panel center white-text">
                        Create a WYSPA<i class="material-icons right">chat_bubble_outline</i>
                    </div>
                    <!-- WYSPA Creation  -->
                    <div class="collapsible-body">
                        <form method="POST" action="{{url_for('messages.create_wyspa')}}" autocomplete="off">
                            <div class="speech-bubble comment-box">
                                <!-- Text -->
                                <div class="input-field message-field col s12">
                                    <textarea id="wyspaContent" name="wyspaContent"
                                        class="materialize-textarea validate" required></textarea>
                                    <label for="wyspaContent">Your Wyspa</label>
                                </div>
                                <!-- Location -->
                                <div class="input-field message-field col s12 m4">
                                    <input id="location" name="location" type="text" class="validate" required>
                                    <label for="location">Location</label>
                                </div>
                                <!-- Mood -->
                                <div class="slider-field col s12 m4">
                                    <label for="mood">Mood: <span>Neutral</span></label>
                                    <p class="range-field">
                                        <input type="range" id="mood" name="mood" min="1" max="3" value="2" />
                                    </p>
                                </div>
                                <!-- Date Picker -->
                                <div class="input-field message-field date-field col s6 m2">
                                    <input id="expiryDate" name="expiryDate" type="text" class="datepicker validate"
                                        required>
                                    <label for="expiryDate">Expiry Date</label>
                                </div>

                                <!-- Time Picker -->
                                <div class="input-field message-field date-field col s6 m2">
                                    <input id="expiryTime" name="expiryTime" type="text" class="timepicker validate"
                                        required>
                                    <label for="expiryTime">Expiry Time</label>
                                </div>

                                <!-- Submit -->
                                <div class="col s12 submit-col">
                                    <button class="btn add-comment waves-effect" type="submit" name="action">Wyspa
                                        <i class="material-icons right">comment</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/slider.js') }}"> </script>
{% endblock %}